.stock-product__tittle{
  display: block;
  font-size: 45px;
  color:  #939393;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 14px;
}
.stock-product__loading-img{
  display: block;
  width: 40%;
  margin: 0 auto 30px;
}



