<form [formGroup]="codeForm" (ngSubmit)="sendCode()" class="code__form">
  <h1 class="code__form__header">Confirm password</h1>
  <div class="code__form__input">
    <div class="code__form__input_warning" *ngIf="checkInput('code')">Please, enter code</div>
    <input class="code__form__input_login" [style.border-color]="checkInput('code') ? '#c01934' : '#939393'" type="text" placeholder="Write code" formControlName="code">
  </div>
  <p *ngIf="errorMessage != ''" class="code__form__warning">{{errorMessage}}</p>
 <app-timer *ngIf="isRepeatButtonDisabled" (timerStopEvent)="timerStopEventListener()" [isButtonDisabled]="isRepeatButtonDisabled"></app-timer>
  <div class="code__form__buttons">
    <button [disabled]="codeForm.invalid"
            [ngClass]="{'code__form__buttons__button': !codeForm.invalid,
            'code__form__buttons__button_disabled': codeForm.invalid}">Submit</button>
    <button [disabled]="isRepeatButtonDisabled"
            [ngClass]="{'code__form__buttons__button': !isRepeatButtonDisabled,
            'code__form__buttons__button_disabled': isRepeatButtonDisabled}" (click)="repeatCode()">Repeat</button>
  </div>
</form>
