<div class="filter-list__sort">
  <div class="filter-list__sort_close">
    <p class="filter-list__sort__title">Sort by price</p>
    <img [ngClass]="{'filter-list__sort__icon_open': isFilterListSortIconOpen, 'filter-list__sort__icon_close': !isFilterListSortIconOpen}"
         src="./assets/static/images/open-filter-icon.png" (click)="clickIconListener()">
  </div>
  <div [ngClass]="{'filter-list__sort__types_open': isFilterListSortIconOpen, 'filter-list__sort__types_close': !isFilterListSortIconOpen}">
    <div class="filter-list__sort__type">
      <span class="filter-list__sort__type__checkbox" (click)="clickHighToLowTypeListener()">
        <img [style.display]="isHighToLowCheckBoxSelected ? 'block' : 'none'" class="filter-list__sort__type__checkbox_selected" src="./assets/static/images/choose-icon.png">
      </span>
      <p class="filter-list__sort__type__label">High to Low</p>
    </div>
    <div class="filter-list__sort__type">
      <span class="filter-list__sort__type__checkbox" (click)="clickLowToHighTypeListener()">
        <img [style.display]="isLowToHighCheckBoxSelected ? 'block' : 'none'" class="filter-list__sort__type__checkbox_selected" src="./assets/static/images/choose-icon.png">
      </span>
      <p class="filter-list__sort__type__label">Low to High</p>
    </div>
  </div>
</div>
