<form [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()" class="reset-password__form">
  <h1 class="reset-password__form__header">Update password</h1>
  <div class="reset-password__form__input">
    <div class="reset-password__form__input_warning" *ngIf="checkInput('password')">Please, enter password</div>
    <input class="reset-password__form__input_login" [style.border-color]="checkInput('password') ? '#c01934' : '#939393'" type="password" placeholder="New password" formControlName="password">
  </div>
  <div class="reset-password__form__input">
    <div class="reset-password__form__input_warning" *ngIf="checkInput('rePassword')">Passwords do not match </div>
    <input class="reset-password__form__input_login" [style.border-color]="checkInput('rePassword') ? '#c01934' : '#939393'" type="password" placeholder="Repeat password" formControlName="rePassword">
  </div>
  <p *ngIf="errorMessage != ''" class="reset-password__form__warning">{{errorMessage}}</p>
  <div class="reset-password__form__input">
    <button [disabled]="resetPasswordForm.invalid"
            [ngClass]="{'reset-password__form__input_submit': !resetPasswordForm.invalid,
            'reset-password__form__input_submit_disabled': resetPasswordForm.invalid}">Submit</button>
  </div>
</form>
