.filter-list__category__type{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.filter-list__category__type_checkbox{
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: #939393 solid 1px;
  border-radius: 2px;
  margin-right: 20px;
  background: #FFF;
  cursor: pointer;
}
.filter-list__category__type_checkbox_selected{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.filter-list__category__type_label{
  font-size: 20px;
  margin: 0;
}
