<div class="filter-list__category">
  <div class="filter-list__category_close">
    <p class="filter-list__category__title">Category</p>
    <img [ngClass]="{'filter-list__category__icon_open': isFilterListCategoryIconOpen, 'filter-list__category__icon_close': !isFilterListCategoryIconOpen}"
         src="./assets/static/images/open-filter-icon.png" (click)="clickIconListener()">
  </div>
  <div [ngClass]="{'filter-list__category__types_open': isFilterListCategoryIconOpen, 'filter-list__category__types_close': !isFilterListCategoryIconOpen}">
    <app-filter-category-type *ngFor="let categoryType of categoryTypes" [typeName]="categoryType" (deleteProductTypeEvent)="deleteProductTypeListener(categoryType)"
                              (setProductTypeEvent)="setProductTypeListener(categoryType)"></app-filter-category-type>
  </div>
</div>
