<form [formGroup]="forgetPasswordForm" (ngSubmit)="sendLogin()" class="forget-password__form">
  <h1 class="forget-password__form__header">Enter login</h1>
  <div class="forget-password__form__input">
    <div class="forget-password__form__input_warning" *ngIf="checkInput('login')">Please, enter login</div>
    <input class="forget-password__form__input_login" [style.border-color]="checkInput('login') ? '#c01934' : '#939393'" type="text" placeholder="Write login" formControlName="login">
  </div>
  <p *ngIf="errorMessage != ''" class="forget-password__form__warning">{{errorMessage}}</p>
  <div class="forget-password__form__input">
    <button [disabled]="forgetPasswordForm.invalid"
            [ngClass]="{'forget-password__form__input_submit': !forgetPasswordForm.invalid,
            'forget-password__form__input_submit_disabled': forgetPasswordForm.invalid}">Submit</button>
  </div>
</form>
