.cart__orders{
  padding: 10px;
  max-height: 1000px;
  overflow: auto;
}
.cart__cart-products{
  padding: 10px;
}
.cart__orders_close,
.cart__cart-products_close{
  display: none;
}
.cart__orders__pages-nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.cart__orders__pages-nav__link{
  padding: 5px;
  margin: 0;
  cursor: pointer;
}
.selected{
  color: #999999;
}
